body {font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; display: inline-block;}
#h1, #h2 {background-color: #388E3C; color: white; height: 100px;}
#h1 {width: 20%;} #h2 {width: 80%;}
#left {background-color: #DCE775; width: 50%; height: 600px;}
footer {background-color: #388E3C; color: white;}
table {width: 80%; margin: auto; outline: dotted 2px #388E3C;}
#timg {height: 70px;}
a {color: #388E3C; margin: 20px; font-style: italic; font-size: 200%;}
a:hover {background-color: #388E3C; color: #DCE775;}
p {margin: 0px;}
#headers {display: flex;}
main {background-color: #DCE775; display: flex;}
#h11 {width: 100px; height: 100px;}